<mat-card>
    <div *ngIf="dataLoaded">
      <mat-card-title *ngIf="update">Update Student</mat-card-title>
      <mat-card-title *ngIf="add">Add Student</mat-card-title>
      <mat-card-content style="padding-top: 20px">
        <form [formGroup]="editStudentForm" (submit)="updateStudent()">
          <p>
            <mat-form-field appearance="outline">
              <mat-label>Student Id</mat-label>
              <input
                matInput
                placeholder="Student Id"
                formControlName="StudentId"
              />
              <mat-error *ngIf ="editStudentForm.controls['StudentId'].errors && editStudentForm.controls['StudentId'].hasError('required')">Student ID is required</mat-error>
              
               </mat-form-field>
          </p>
  
          <p>
            <mat-form-field appearance="outline">
              <mat-label>First Name</mat-label>
              <input matInput placeholder="First Name" formControlName="fName" />
              <mat-error *ngIf ="editStudentForm.controls['fName'].errors && editStudentForm.controls['fName'].hasError('required')">First Name is required</mat-error>
            <mat-error *ngIf ="editStudentForm.controls['fName'].errors && editStudentForm.controls['fName'].hasError('maxlength')">First Name can't exceed 20 characters</mat-error>
          
            </mat-form-field>
          </p>
  
          <p>
            <mat-form-field appearance="outline">
              <mat-label>Last Name</mat-label>
              <input matInput placeholder="Last Name" formControlName="lName" />
              <mat-error *ngIf ="editStudentForm.controls['lName'].errors && editStudentForm.controls['lName'].hasError('required')">Last Name is required</mat-error>
              <mat-error *ngIf ="editStudentForm.controls['lName'].errors && editStudentForm.controls['lName'].hasError('maxlength')">Last Name can't exceed 20 characters</mat-error>
            </mat-form-field>
          </p>
  
          <p>
            <mat-form-field appearance="outline">
              <mat-label>Date Of Birth</mat-label>
              <input
                type="date"
                matInput
                placeholder="Date Of Birth"
                formControlName="DateOfBirth"
                [max]="maxDate"
                [matDatepicker]="picker"
              />
              <mat-datepicker #picker></mat-datepicker>
              <mat-error *ngIf ="editStudentForm.controls['DateOfBirth'].errors && editStudentForm.controls['DateOfBirth'].hasError('required')">Date of Birth is required</mat-error> 
            </mat-form-field>
          </p>
  
          <p>
            <mat-form-field appearance="outline">
              <mat-label>Address</mat-label>
              <input matInput placeholder="Address" formControlName="Address" />
              <mat-error *ngIf ="editStudentForm.controls['Address'].errors && editStudentForm.controls['Address'].hasError('required')">Address is required</mat-error>
              <mat-error *ngIf ="editStudentForm.controls['Address'].errors && editStudentForm.controls['Address'].hasError('maxlength')">Address can't exceed 100 characters</mat-error>
          
            </mat-form-field>
          </p>
  
          <p>
            <button
              mat-raised-button
              color="primary"
              [disabled]="!editStudentForm.valid"
            *ngIf="update">
              Update Student
            </button>
          </p>
          <p>
            <button
              mat-raised-button
              color="primary"
              [disabled]="!editStudentForm.valid"
            *ngIf="add">
              Add Student
            </button>
          </p>
        </form>
      </mat-card-content>
    </div>
  </mat-card>
