<mat-card class="addStForm formCard">
  <mat-card-title>Add New Student</mat-card-title>
  <br />
  <mat-card-content>
    <form [formGroup]="addStudentForm" (submit)="addStudent()">
      <p>
        <mat-form-field appearance="outline">
          <mat-label>Student Id</mat-label>
          <input
            matInput
            placeholder="Student Id"
            formControlName="StudentId"
          />
        </mat-form-field>
      </p>

      <p>
        <mat-form-field appearance="outline">
          <mat-label>First Name</mat-label>
          <input matInput placeholder="First Name" formControlName="fName" />
        </mat-form-field>
      </p>

      <p>
        <mat-form-field appearance="outline">
          <mat-label>Last Name</mat-label>
          <input matInput placeholder="Last Name" formControlName="lName" />
        </mat-form-field>
      </p>

      <p>
        <mat-form-field appearance="outline">
          <mat-label>Date Of Birth</mat-label>
          <input
            type="date"
            matInput
            placeholder="Date Of Birth"
            formControlName="DateOfBirth"
            max="{{ maxDate }}"
          />
        </mat-form-field>
      </p>

      <p>
        <mat-form-field appearance="outline">
          <mat-label>Address</mat-label>
          <input matInput placeholder="Address" formControlName="Address" />
        </mat-form-field>
      </p>

      <p>
        <button
          mat-raised-button
          color="primary"
          [disabled]="!addStudentForm.valid"
        >
          Add Student
        </button>
      </p>
    </form>
  </mat-card-content>
</mat-card>
